@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.15rem;
}

header {
  font-size: 1.75rem;
  background-color: #494949;
  color: white;
}

header a {
  color: white;
}

header a:hover {
  background: -webkit-linear-gradient(#bebebe80, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
}

a:hover {
  font-weight: bold;
}

a:visited {
  font-style: italic;
}

#main {
  width: 50%;
  margin-left: 25%;
}

#lenard-okorn {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#header-links {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  float: right;
}

#header-links a {
  margin-left: 1.5rem;
}

#suit-picture {
  height: 35rem;
  margin: 3rem auto 2.5rem;
  display: block;
}

#link-collection {
  width: 50%;
}

#link-collection a {
  margin: 0;
  font-size: 1.5rem;
}

#epic-quote {
  width: 50%;
  margin-left: 25%;
}

.quote-text {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.quote-author {
  text-align: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: lighter;
  margin-top: 1rem;
}

.link1 {
  font-style: italic;
  font-family: 'Consolas', sans-serif;
  background-color: #60dfd8;
  color: blue;
}

.link2 {
  font-weight: bold;
  background-color: blueviolet;
  color: white;
}

.link3 {
  font-family: 'Montserrat';
  background-color: black;
  color: orange;
}

.link4 {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  background-color: lavender;
  color: blueviolet;
}

.link5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: rgb(255, 217, 0);
  color: black;
}

.link6 {
  font-family: 'Georgia', serif;
  background-color: darkred;
  color: white;
}

.link7 {
  font-style: bold;
  background-color: #6ae4a1;
  color: blue;
}

.link8 {
  font-weight: lighter;
  background-color: #ffb9a0;
  color: #800820;
}

.vacation {
  size: 50%;
  margin-left: 25%;
}

.vacation a {
  background: -webkit-linear-gradient(right, #0b89a8, #28997d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vacation-image {
  height: 45rem;
  margin: 1.5rem auto 1.5rem;
  display: block;
}

.back {
  size: 50%;
  margin-left: 25%;
  background: -webkit-linear-gradient(right, #0b89a8, #28997d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
