@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

#question-wrapper {
  background-color: #e6e6e6;
  border: 3px solid #a0a0a0;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
}

#question-image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
}

#loading > .spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.35rem;
}

#question-image {
  width: 50%;
  padding: 15% 0;
  margin: 0.5rem 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  z-index: 1;
}

.row {
  --bs-gutter-x: 0;
}

.answer {
  background-color: #e6e6e6;
  border: 3px solid #a0a0a0;
  border-radius: 0.5rem;
  margin: 0.2rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  transition: background-color 0.1s ease-in-out;
  user-select: none;
}

.answer:hover {
  background-color: #f8f8f8;
}

.right {
  background-color: #adf7b6 !important;
  transition: background-color 0.25s ease-in-out;
}

.wrong {
  background-color: #f08080 !important;
  transition: background-color 0.25s ease-in-out;
}

.answer-number {
  float: left;
  font-weight: 500;
  width: 1.75rem;
  height: 1.75rem;
  background-color: #a0a0a0;
  border-radius: 0.25rem;
  color: #e6e6e6;
}

.drag-answer-row {
  display: flex;
  align-items: center;
  border: 3px solid #a0a0a0;
  border-radius: 0.5rem;
  margin: 0.25rem 0;
  padding: 0.5rem;
  text-align: center;
  background-color: #f8f8f8;
}

.drag-answer-country {
  font-size: 1.25rem;
}

.drag-answer-dest {
  background-color: #212529;
  border: 3px solid #a0a0a0;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  height: 3.5rem;
  display: grid;
  place-items: center;
}

#win-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  flex-direction: column;
  z-index: 1;
}

#win-message button {
  font-size: 1.5rem;
}

#win-message.show {
  display: flex;
}

@media only screen and (max-width: 768px) {
  /* Mobile */
  #question-image {
    width: 75%;
    padding: 25% 0;
  }
}
