@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");

* {
	box-sizing: border-box;
}

body {
	font-family: "Inter", Arial, sans-serif;
}

/* Style the header */
header {
	height: 20vh;
	background-image: url("../../images/home-exercises/mojave-night.jpg");
	position: cover;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

header h2 {
	background: -webkit-linear-gradient(white, #d2d2d2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Create two columns/boxes that floats next to each other */
nav {
	float: left;
	width: 20%;
	height: 300px;
	/* only for demonstration, should be removed */
	background: #ccc;
	padding: 20px;
}

/* Style the list inside the menu */
nav ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

nav a:hover {
	color: orange;
}

article {
	float: left;
	padding: 20px;
	width: 80%;
	background-color: #f1f1f1;
	height: 300px;
	/* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
	content: "";
	display: table;
	clear: both;
}

/* Style the footer */
footer {
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}

table img {
	max-height: 200px;
	max-width: 150px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

	nav,
	article {
		width: 100%;
		height: auto;
	}
}