@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");

body {
	font-family: "Inter", Arial, sans-serif;
}

table {
	width: 100%;
	height: 100%;
	border: 10px solid black;
	background-color: gray;
}

td {
	border: 1px solid gray;
	height: 14%;
	width: 25%;
	background-color: yellow;
	vertical-align: middle;
	text-align: center;
}

td img {
	display: block;
	margin: 0 auto;
}

a {
	font-size: 22px;
	font-weight: bold;
	background: -webkit-linear-gradient(left, tomato, #ff6600);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#nokia {
	width: 450px;
	height: 800px;
}