---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="dark:bg-dark">
    <header
      class="min-h-screen dark:text-light flex space-x-16 space-y-3 flex-col lg:flex-row items-center justify-center px-10 xl:px-36"
    >
      <div class="space-y-3 min-w-max">
        <h1 class="text-7xl font-bold font-mono">Lenard Okorn</h1>
        <p class="text-2xl font-light">Computer Science student @ Graz University of Technology</p>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus modi quibusdam, odio
        eum dolor excepturi praesentium quaerat possimus totam dolore assumenda cumque et veritatis,
        sit laborum earum architecto, voluptates ex. Eveniet eaque facilis quisquam nobis earum quis
        autem assumenda, corporis, necessitatibus praesentium possimus natus, quas labore. Inventore
        illo accusantium dolorum vel nisi fugit quaerat nobis? Voluptas in voluptate illo debitis
        aliquam reprehenderit officia earum nobis hic, error voluptatibus voluptates. Laborum
        dolorem vero dignissimos ex rerum, velit id consequuntur hic quae reiciendis temporibus,
        alias dolore iusto mollitia. Ad, commodi, possimus molestias rem facere quae veniam pariatur
        voluptatibus non placeat adipisci aspernatur.
      </p>
    </header>
    <main>
      <h1 class="font-bold text-6xl">Hello World!</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit soluta quae, ipsa temporibus
        quisquam sint fugiat? Natus perspiciatis itaque doloribus?
      </p>
    </main>
  </body>
</html>
