@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#score-wrapper {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

#points {
    margin-right: auto;
    margin-bottom: 0;
}

.fa-heart {
    color: #f00000;
    margin: 0.25rem;
    width: 2rem;
}

#word {
    background-color: #e6e6e6;
    border: 3px solid #a0a0a0;
    width: 65%;
    border-radius: 1rem;
    padding: 0.75rem;
    user-select: none;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    cursor: grab;
}

#word:hover,
#already-seen:hover,
#new:hover {
    transition: background-color 0.1s ease-in-out;
    background-color: #f8f8f8;
}

#already-seen,
#new {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    border: 3px solid #a0a0a0;
    border-radius: 1rem;
    height: 10rem;
    user-select: none;
    cursor: pointer;
}

#already-seen > p,
#new > p {
    margin: 0;
    font-size: 1.5rem;
}

.right {
    transition: background-color 0.25s ease-in-out;
    background-color: #adf7b6 !important;
}

.wrong {
    transition: background-color 0.25s ease-in-out;
    background-color: #f08080 !important;
}

#win-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    flex-direction: column;
    z-index: 1;
}

#win-message #text-prior {
    font-size: 1.5rem;
    font-weight: 200;
}

#win-message button {
    font-size: 1.5rem;
}

#win-message.show {
    display: flex;
}
